/* font */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

#banner {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 1056px;
    /* position: relative; */
    /* background-size: cover; */
    background-position: center;
    background-image: linear-gradient(180deg, rgb(7, 2, 17), rgba(7, 2, 16, 0) 100%), url("../assets/images/Banner\ Image.png");
    border-radius: 16px;
    background-repeat: no-repeat;

}

#banner .banner-content .title {
    color: white;
    font-family: Merriweather;
    font-weight: 400;
    font-size: 32px;
}

#banner .banner-content .sub-title {
    font-size: 72px;
    color: white;
    font-family: Merriweather;
    font-weight: 900;

}

#holiday-box {
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#holiday-box .holiday-off h1 {
    color: rgb(255, 0, 0);
    text-align: center;
    line-height: 100px;
    font-weight: 700px;
    font-size: 88px;

}

#holiday-box .holiday-off p {
    color: rgb(255, 0, 0);
    text-align: center;
    line-height: 29px;
    font-weight: 500px;
    font-size: 24px;

}

#holiday-box .holiday-off h2 {
    color: rgb(7, 2, 17);
    text-align: center;
    line-height: 58px;
    font-weight: 700px;
    font-size: 48px;

}

#midnight-party {
    margin-top: 120px;
    height: 700px;
    background-image: linear-gradient(180deg, rgb(7, 2, 17), rgba(7, 2, 16, 0) 100%), url("../assets/images/Vectorrr.png");
    background-repeat: no-repeat;
    display: flex;
    /* justify-content: left; */
    align-items: center;
    padding-left:600px;
    background-position: center;
}

.midnight-party-content h1 {
    color: white;
    /* text-align: left; */
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 11%;
}

.midnight-party-content p {
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.btn-join-now {
    color: white;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    cursor: pointer;
}

#vanue-name {
    margin-top: 120px;
    height: 1000px;
    background-image: linear-gradient(180deg, rgb(219, 152, 152), rgba(239, 222, 222, 0.1) 100%);

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px
}

.vanue-content {
    font-size: 32px;
    font-weight: 600px;
    line-height: 56px;
    text-align: center;

}

.date-red,
.time-red,
.place-red {
    color: red;
}

#new-best-offer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.comming-soon{
    /* column-gap:25px; */
}
.comming-soon h4{ 
    color: red;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 500px;
    margin-left: -10%;

}
.comming-soon h1{ 
    /* color: red; */
    margin-bottom: 20px;
    font-size: 48px;
    font-weight: 900px;
    margin-left: -10%;
    

}
.comming-soon p{ 
    /* color: red; */
    margin-bottom: 20px;
    font-size: 20px;
    /* font-weight: 00px; */
    margin-left: -10%;
    

}
.new-year-2024 h2{
    font-weight: 700px;
    font-size: 48px;
    margin-left: 60%;
    color: red;
    margin-left: 60%;


}
.new-year-2024 p{
    font-weight: 400px;
    font-size: 20px;
    margin-left: 60%;
 
}

.new-year-2024 img{
    margin-left: 60%;
}

.round-img img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 10px solid red;
    padding: 10px;

}
/* holiday sales 50% */
.holidy-sels h4{
    color:rgb(7, 2, 17);
    font-size: 24px;
    font-weight: 500px;
    
}
.holidy-sels h1{
    color:rgb(7, 2, 17);
    font-size: 24px;
    font-weight: 900px;
    text-align: center;

}
.holidy-font-red{
    color:red
}

.holidy-sels p{
    color:rgb(7, 2, 17);
    font-size: 20px;
    font-weight: 500px;
    text-align: center;

}
.holiday-text{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
     align-items: center;
     /* flex-wrap: wrap; */
}
.holiday-text p{
    text-align: center;
    line-height: 32px;
}
.holidy-contain-img{
    position: relative;
    display: flex;
    justify-content: space-around;
    z-index: 1;
}
.holiday-box{
    height:400px ;
   margin-left: -600px;
}
.img-50-parcent{
    position: absolute;
    left: 60%; 
}

 /* portfolio img start */
.text-containt h4{
    margin-top: 120px;
    color: red;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
}
.text-containt p{
    
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.text-containt{
    margin-left: 500px;
        
}
.portfolio-img-a{
    margin-bottom: 20px;
    display: flex;
    gap:20px;
    justify-content: center;
    
}
.portfolio-img-b{
    display: flex;
    gap:20px;
    justify-content: center;
    
}